{"openapi":"3.1.0","info":{"title":"RECF Manuals Public API","version":"1.0.0","description":"Read-only, public JSON API for RECF program manuals and Q&A. No authentication is required; requests are rate limited by IP and responses are cacheable."},"servers":[{"url":"https://games.recf.org/api/v1"}],"tags":[{"name":"Programs","description":"Programs and their published revisions."},{"name":"Manual","description":"Published manual content by version."},{"name":"Q&A","description":"Published questions and answers."},{"name":"Meta","description":"Specification document."}],"paths":{"/programs":{"get":{"tags":["Programs"],"summary":"List programs","operationId":"listPrograms","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ProgramListItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}}}}}}}},"/programs/{slug}":{"get":{"tags":["Programs"],"summary":"Get program detail","operationId":"getProgram","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"$ref":"#/components/schemas/ProgramDetail"},"meta":{"$ref":"#/components/schemas/Meta"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/programs/{slug}/manual":{"get":{"tags":["Manual"],"summary":"Redirect to the latest manual version","operationId":"getLatestManual","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."}],"responses":{"307":{"description":"Redirect to /manual/{version}; no body."},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/programs/{slug}/manual/{version}":{"get":{"tags":["Manual"],"summary":"Get the full manual for a version","operationId":"getManual","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."},{"name":"version","in":"path","required":true,"schema":{"type":"string"},"description":"Published version label."}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object"},"meta":{"$ref":"#/components/schemas/Meta"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/programs/{slug}/manual/{version}/bundle":{"get":{"tags":["Manual"],"summary":"Offline bundle: manual content + Q&A + hash","operationId":"getManualBundle","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."},{"name":"version","in":"path","required":true,"schema":{"type":"string"},"description":"Published version label."}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object"},"meta":{"$ref":"#/components/schemas/Meta"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/programs/{slug}/manual/{version}/changelog":{"get":{"tags":["Manual"],"summary":"Changelog up to and including a version","operationId":"getChangelog","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."},{"name":"version","in":"path","required":true,"schema":{"type":"string"},"description":"Published version label."}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"revisionVersion":{"type":"string"},"entries":{"type":"array","items":{"type":"object"}}}},"meta":{"$ref":"#/components/schemas/Meta"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/programs/{slug}/manual/{version}/search":{"get":{"tags":["Manual"],"summary":"Full-text rule search","operationId":"searchManual","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."},{"name":"version","in":"path","required":true,"schema":{"type":"string"},"description":"Published version label."},{"name":"q","in":"query","required":false,"schema":{"type":"string","minLength":1,"maxLength":200},"description":"Search query (1–200 chars)."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"description":"Results per page (1–100)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0},"description":"Pagination offset."}],"responses":{"200":{"description":"Success (bare object, no envelope).","content":{"application/json":{"schema":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object"}},"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/programs/{slug}/manual/{version}/export.pdf":{"get":{"tags":["Manual"],"summary":"Export the manual as a PDF","operationId":"exportManualPdf","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."},{"name":"version","in":"path","required":true,"schema":{"type":"string"},"description":"Published version label."},{"name":"theme","in":"query","required":false,"schema":{"type":"string","enum":["light","dark"],"default":"light"},"description":"light or dark."},{"name":"paperSize","in":"query","required":false,"schema":{"type":"string","enum":["letter","a4"],"default":"letter"},"description":"letter or a4."},{"name":"includeQa","in":"query","required":false,"schema":{"type":"boolean","default":false},"description":"Include Q&A."},{"name":"revisionMarks","in":"query","required":false,"schema":{"type":"boolean","default":false},"description":"Show revision marks."},{"name":"coverArt","in":"query","required":false,"schema":{"type":"boolean","default":true},"description":"Include cover art."}],"responses":{"200":{"description":"PDF (or print-ready HTML fallback).","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/programs/{slug}/manual/{version}/rules/{stableKey}":{"get":{"tags":["Manual"],"summary":"Get a single rule","operationId":"getRule","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."},{"name":"version","in":"path","required":true,"schema":{"type":"string"},"description":"Published version label."},{"name":"stableKey","in":"path","required":true,"schema":{"type":"string"},"description":"Stable key of the rule/definition."}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object"},"meta":{"$ref":"#/components/schemas/Meta"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/programs/{slug}/manual/{version}/definitions/{stableKey}":{"get":{"tags":["Manual"],"summary":"Get a single definition","operationId":"getDefinition","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."},{"name":"version","in":"path","required":true,"schema":{"type":"string"},"description":"Published version label."},{"name":"stableKey","in":"path","required":true,"schema":{"type":"string"},"description":"Stable key of the rule/definition."}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object"},"meta":{"$ref":"#/components/schemas/Meta"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/programs/{slug}/qa":{"get":{"tags":["Q&A"],"summary":"List published Q&A for a program","operationId":"listQa","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."},{"name":"ruleStableKey","in":"query","required":false,"schema":{"type":"string"},"description":"Filter by targeted rule key."},{"name":"tag","in":"query","required":false,"schema":{"type":"string"},"description":"Filter by tag."},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["published","answered"]},"description":"published or answered."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":25},"description":"Results per page (1–100)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0},"description":"Pagination offset."}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"questions":{"type":"array","items":{"$ref":"#/components/schemas/QuestionListItem"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}},"meta":{"$ref":"#/components/schemas/Meta"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/programs/{slug}/qa/{qnaNumber}":{"get":{"tags":["Q&A"],"summary":"Get a single Q&A entry","operationId":"getQa","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."},{"name":"qnaNumber","in":"path","required":true,"schema":{"type":"string"},"description":"Q&A number."}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"$ref":"#/components/schemas/QuestionDetail"},"meta":{"$ref":"#/components/schemas/Meta"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/programs/{slug}/qa.rss":{"get":{"tags":["Q&A"],"summary":"RSS 2.0 feed of the latest published Q&A","operationId":"getQaRss","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."}],"responses":{"200":{"description":"RSS feed.","content":{"application/rss+xml":{"schema":{"type":"string"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/programs/{slug}/rules/{stableKey}/qa":{"get":{"tags":["Q&A"],"summary":"List Q&A targeting a specific rule","operationId":"listRuleQa","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Program slug."},{"name":"stableKey","in":"path","required":true,"schema":{"type":"string"},"description":"Stable key of the rule/definition."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":25},"description":"Results per page (1–100)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0},"description":"Pagination offset."}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ruleStableKey":{"type":"string"},"questions":{"type":"array","items":{"$ref":"#/components/schemas/QuestionListItem"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}},"meta":{"$ref":"#/components/schemas/Meta"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/openapi.json":{"get":{"tags":["Meta"],"summary":"This OpenAPI 3.1 document","operationId":"getOpenApiSpec","responses":{"200":{"description":"OpenAPI document.","content":{"application/json":{"schema":{"type":"object"}}}}}}}},"components":{"schemas":{"Meta":{"type":"object","properties":{"version":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}},"Error":{"type":"object","properties":{"error":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"}}},"meta":{"$ref":"#/components/schemas/Meta"}}},"Author":{"type":"object","description":"Publicly-visible submitter identity.","properties":{"username":{"type":"string"},"audienceRole":{"type":["string","null"],"enum":["student","coach","event_partner","volunteer","other",null]}},"required":["username","audienceRole"]},"Answer":{"type":"object","properties":{"id":{"type":"string"},"body":{"type":"object","description":"Rich-text block content."},"isBinding":{"type":"boolean"},"publishedAt":{"type":["string","null"],"format":"date-time"}}},"QuestionListItem":{"type":"object","properties":{"id":{"type":"string"},"qnaNumber":{"type":"integer"},"subject":{"type":"string"},"targetRuleStableKey":{"type":"string"},"ruleLabel":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"status":{"type":"string","enum":["published","answered"]},"submittedAt":{"type":"string","format":"date-time"},"answeredAt":{"type":["string","null"],"format":"date-time"},"hasAnswer":{"type":"boolean"},"askedBy":{"$ref":"#/components/schemas/Author"}}},"QuestionDetail":{"type":"object","properties":{"id":{"type":"string"},"qnaNumber":{"type":"integer"},"subject":{"type":"string"},"body":{"type":"object","description":"Rich-text block content."},"targetRuleStableKey":{"type":"string"},"ruleLabel":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"status":{"type":"string","enum":["published","answered"]},"submittedAt":{"type":"string","format":"date-time"},"answeredAt":{"type":["string","null"],"format":"date-time"},"askedBy":{"$ref":"#/components/schemas/Author"},"season":{"type":"object","properties":{"slug":{"type":"string"},"name":{"type":"string"}}},"answer":{"oneOf":[{"$ref":"#/components/schemas/Answer"},{"type":"null"}]}}},"Pagination":{"type":"object","properties":{"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"}}},"Revision":{"type":"object","properties":{"versionLabel":{"type":"string"},"publishedAt":{"type":["string","null"],"format":"date-time"},"releasedDateLabel":{"type":["string","null"]}}},"ProgramListItem":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"currentVersionLabel":{"type":["string","null"]},"qnaUrl":{"type":["string","null"]}}},"ProgramDetail":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"shortName":{"type":"string"},"description":{"type":"string"},"coverImage":{"type":["string","null"]},"defaultQnaUrl":{"type":["string","null"]},"revisions":{"type":"array","items":{"$ref":"#/components/schemas/Revision"}}}}}}}